---
import type { MarkdownHeading } from "astro";
import Prose from "../../components/prose.astro";
import { getCollection, render } from "astro:content";
import InfoLayout from "../../layouts/InfoLayout.astro";

export const prerender = true;

export async function getStaticPaths() {
    const articles = await getCollection("articles");

    return articles.map((article) => ({
        params: {
            slug: article.data.slug
        },
        props: { article },
    }));
}

const { article } = Astro.props;

if (article === undefined) {
    return new Response("Article not found", { status: 404 });
}

const { Content } = await render(article);

const allArticles = await getCollection("articles");

const relatedArticles = allArticles.filter(
    (relatedArticle) =>
        relatedArticle.data.category === article.data.category &&
        relatedArticle.id !== article.id,
);
---

<InfoLayout title={article.data.title} frontmatter={article.data}>
    <section class="px-4 py-8">
        <Prose>
            <Content />
        </Prose>

        <p class="my-4 text-sm italic text-zinc-300">
            This is an excerpt from {`${article.data.author}'s`}
            <a href={article.data.originalLink} target="_blank" class="underline underline-offset-4 decoration-zinc-100 hover:decoration-white hover:text-white">
                Make Something Heavy
            </a>
            article. I highly recommend you give it a read!
        </p>

        {
            relatedArticles.length > 0 && (
                <div>
                    <h2 class="mt-8 text-xl text-gray-900 font-medium">
                        Related Articles
                    </h2>

                    <ul class="mt-1 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                        {relatedArticles.map((article) => (
                            <li class="group">
                                <a href={`/blog/${article.data.slug}`}>
                                    <h3 class="text-base text-gray-900 group-hover:text-orange-600 underline underline-offset-2 decoration-dotted decoration-transparent group-hover:decoration-gray-900 transition-all duration-300 ease-in-out">
                                        {article.data.title}
                                    </h3>
                                    <p class="text-sm text-gray-600 group-hover:text-gray-900">
                                        {(article.data.pubDate)} 
                                        &middot; {article.data.author}
                                    </p>
                                </a>
                            </li>
                        ))}
                    </ul>
                </div>
            )
        }
    </section>
</InfoLayout>
