---
import H1 from "../../components/h1.astro";
import { getCollection } from "astro:content";
import InfoLayout from "../../layouts/InfoLayout.astro";
import { formatDate } from "../../lib/utils";

const allArticles = await getCollection("articles");
---

<InfoLayout>
     <div class="pt-0 p-4 sm:pt-8 sm:px-12 pb-20 min-h-screen">
          <H1> Blog </H1>

          <ul class="mt-8 sm:mt-12 space-y-4 sm:space-y-8">
               {
                   allArticles.map((article) => (
                       <li>
                           <a class="space-y-1 group" href={`/blog/${article.data.slug}`}>
                               <h2 class="text-2xl xl:text-2xl text-zinc-200 text-balance font-medium underline group-hover:underline-offset-2 decoration-transparent group-hover:decoration-zinc-500">
                                   {article.data.title}
                               </h2>
                               <p class="text-lg text-zinc-400">{article.data.snippet}</p>
                               <p class="text-sm text-zinc-400">
                                   {formatDate((article.data.pubDate))} &middot;{" "}
                                   {article.data.author}
                               </p>
                           </a>
                       </li>
                   ))
               }
           </ul>
     </div>
</InfoLayout>